<!DOCTYPE html>
<html>
    <head>
        <title>Editar Empleado</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>UPDATE</h1>
        <form th:action="@{/empleados/{id}/editar(id=${empleado.idEmpleado})}" method="post">
            <label for="nombre">Nuevo Nombre:</label>
            <input type="text" id="nombre" name="nombre" value="" required>
            <label for="apellido">Nuevo Apellido:</label>
            <input type="text" id="apellido" name="apellido" value="" required>
            <label for="identificacion">Nueva Identificación:</label>
            <input type="text" id="identificacion" name="identificacion" value="" required>
            <label for="idDireccion">Nuevo ID Dirección:</label>
            <input type="text" id="idDireccion" name="idDireccion" value="" required>
            <button type="submit">Guardar cambios</button>
        </form>
    </body>
</html>
