<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>UPDATE</h1>
        <form th:action="@{/direcciones/{id}/editar(id=${direccion.idDireccion})}" method="post">
            <label for="referencias">Nueva Direccion:</label>
            <input type="text" id="referencias" name="referencias" value="" required>
            <button type="submit">Guardar cambios</button>
        </form>

    </body>
</html>
