<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editar Unidad</title>
</head>
<body>
<h1>Editar Unidad</h1>
<form action="/unidades/{idPlaca}/editar" method="post" th:object="${unidad}" th:action="@{/unidades/{idPlaca}/editar(idPlaca=${unidad.idPlaca})}">

    <input type="hidden" id="idPlaca" name="idPlaca" th:value="${unidad.idPlaca}" />

    <label for="estadoUnidad">Estado Unidad:</label>
    <input type="number" id="estadoUnidad" name="estadoUnidad.idEstadoUnidad" th:value="${unidad.estadoUnidad.idEstadoUnidad}" required><br>

    <label for="empresa">Empresa:</label>
    <input type="number" id="empresa" name="empresa.idEmpresa" th:value="${unidad.empresa.idEmpresa}" required><br>

    <label for="unidadYear">Año de la Unidad:</label>
    <input type="text" id="unidadYear" name="unidadYear" th:value="${unidad.unidadYear}" required><br>

    <label for="capacidadCarga">Capacidad de Carga:</label>
    <input type="text" id="capacidadCarga" name="capacidadCarga" th:value="${unidad.capacidadCarga}" required><br>

    <label for="chasis">Chasis:</label>
    <input type="text" id="chasis" name="chasis" th:value="${unidad.chasis}" required><br>

    <label for="descripcion">Descripción:</label>
    <input type="text" id="descripcion" name="descripcion" th:value="${unidad.descripcion}" required><br>

    <button type="submit">Guardar Cambios</button>
</form>
</body>
</html>
